body{
background-color:black;
}
h1{
font-size:50px;
color:Red;
}
h2{
margin-left:150px;
font-size:35px;
color:blue;
}
h3{
color:green;
text-align:justify;
margin-left:100px;
}
p{
align-left:150px;
}
header{
font-size:25px;
}
footer{
color:orange;
}