body{
background-color:black;
}
h1{
color:Red;
font-size:50px;
}
h2{
margin-left:125px;
color:blue;
font-size:35px
}
h3{
color:green;
margin-left:65px;
text-align:justify;
}
header{
font-size:25px;
}
footer{
color:red;
text-align:right;
}